{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <div class="header-shape">
    <svg class="fill-canary" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-header-u"/></svg>
  </div>

  {% include 'partials/_page-header' %}

  {% include 'partials/_page-blocks' %}

  {% endcache %}
{% endblock content %}
