<p>Most content can be edited via main pages:</p>

<ul class="main-pages">
  {% for entry in craft.entries.section('and, not grantees, not generalPages').order('lft asc').all() %}
    <li><a href="{{ entry.getCpEditUrl() }}">{{ entry.title }}</a></li>
  {% endfor %}
</ul>

<hr>

<h2>Grantees</h2>

<p>An outlier is Grantees, which are managed as a separate post type, and pulled alphabetically on the Grants page.</p>

<h3>Recently Edited:</h3>
<ul class="recent-grantees">
  {% for entry in craft.entries.section('grantees').order('dateUpdated desc').limit(5).all() %}
    <li><a href="{{ entry.getCpEditUrl() }}">{{ entry.title }}</a></li>
  {% endfor %}
</ul>
<p class="see-all">
  <a class="btn" href="/admin/entries/grantees">View all {{ craft.entries.section('grantees').count() }} Grantees</a>
</p>

<hr>

<h3>Site Options</h3>

<p>You can edit the contact info and links in the footer, as well as the default Social Share image here:</p>

<p class="see-all">
  <a class="btn" href="/admin/globals/siteOptions">Site Options</a>
</p>
