{# Option to disable newsletter form + membership links when including footer #}
{% if noPreFooter is not defined %}
  <div class="pre-footer container">
    <div class="grid spaced">

      <div class="newsletter-form col-lg-1-2">
        <p>Subscribe to Our Newsletter:</p>
        <form action="#cc-or-mailchimp?" method="post">
          <div class="form-row">
            <div class="input-wrap">
              <label for="email">Email Address</label>
              <input type="email" name="email" id="email" placeholder="Enter your Email Address..." required>
            </div>
            <button class="button -circle">Submit</button>
          </div>
          <div class="status"></div>
        </form>
      </div>

      <div class="membership-cta col-lg-1-2">
        <a href="" class="button -giant -indigo">
          Check Out Our<br>
          Membership Plans
          <svg class="sprite sprite-arrow -right" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
        </a>
      </div>

    </div>
  </div>
{% endif %}

<footer id="footer" class="site-footer">
  <div class="container">

    <div class="contact">
      <a class="logo" href="/"><svg aria-hidden="true"><use xlink:href="#sprite-logo-small"/></svg></a>

      <address>
        {{ siteOptions.footerInfo.address }}
        {{ siteOptions.footerInfo.phone }}
      </address>
    </div>

    <div class="grid spaced">
      <div class="footer-nav col-md-1-2 order-md-1">
        {% if siteOptions.footerInfo.footerNav|length -%}
          <ul class="text-columns-xs-2">
          {% for link in siteOptions.footerInfo.footerNav -%}
            <li>
              <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
          {% endfor -%}
          </ul>
        {%- endif -%}
      </div>

      <div class="hours col-md-1-2 order-md-0">
        {% if siteOptions.footerInfo.hours|length -%}
          <ul>
          {% for hours in siteOptions.footerInfo.hours -%}
            <li{{ hours.closed == 1 ? ' class="closed"' : '' }}>
              <div class="day">{{ hours.day }}</div>
              <div class="hours">{{ hours.hours }}</div>
            </li>
          {% endfor -%}
          </ul>
        {% endif -%}
      </div>
    </div><!-- /.grid -->

    <div class="footer-bottom grid spaced">
      {% if siteOptions.footerInfo.social|length %}
        <ul class="social col-md-1-2 order-md-1">
        {%- for link in siteOptions.footerInfo.social -%}
          <li>
            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
        </ul>
      {% endif %}

      <div class="copyright-legal col-md-1-2 order-md-0">
        <div class="copyright">
          &copy; {{ "now"|date("Y") }} Lubeznik Center for the Arts
        </div>

        <ul class="legal-privacy">
          <li><a href="/legal">Legal</a></li>
          <li><a href="/pricay">Privacy</a></li>
        </ul>
      </div>

    </div><!-- /.grid -->

  </div><!-- /.container -->

  {# Choose footer character at random #}
  {% set characterPath = '/images/footer-character-' ~ random(1,7) ~ '.svg' %}
  <img class="section-character" src="{{ rev(characterPath) }}" aria-role="presentation" alt="">
</footer>

<script async src="{{ rev('/scripts/manifest.js') }}"></script>
<script async src="{{ rev('/scripts/vendor.js') }}"></script>
<script async src="{{ rev('/scripts/main.js') }}"></script>
