{# Option to disable newsletter form + membership links when including footer #}

<div data-barba-update-markup>
  {% if noPreFooter is not defined %}
    <div class="pre-footer container">
      <div class="grid spaced">

        <div class="newsletter-form col-lg-1-2">
          <p>Subscribe to Our Newsletter:</p>
          <form action="#cc-or-mailchimp?" method="post">
            <div class="form-row">
              <div class="input-wrap">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" placeholder="Enter your Email Address..." required>
              </div>
              <button class="button -circle">Submit</button>
            </div>
            <div class="status"></div>
          </form>
        </div>

        <div class="membership-cta col-lg-1-2">
          <a href="/membership" class="button -giant -indigo">
            Check Out Our<br>
            Membership Plans
            <svg class="sprite sprite-arrow -right" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
          </a>
        </div>

      </div>
    </div>
  {% endif %}
</div>

<footer id="footer" class="site-footer" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="container">

    <div class="contact">
      <a class="logo" href="/" itemprop="name">Lubeznik</a>

      <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        {{ siteOptions.footerInfo.address }}
        <span itemprop="telephone">{{ siteOptions.footerInfo.phone }}</span>
      </address>
    </div>

    <div class="grid spaced">
      <div class="footer-nav col-md-1-2 order-md-1">
        {% if siteOptions.footerInfo.footerNav|length -%}
          <ul class="text-columns-xs-2">
          {% for link in siteOptions.footerInfo.footerNav -%}
            <li>
              <a href="{{ link.url }}"{{ entry is defined and entry.slug == link.url|replace('/', '') or craft.app.request.getSegment(1) == link.url|replace('/', '') ? ' class="-active"'|raw : '' }} data-barba-update-class>{{ link.text }}</a>
            </li>
          {% endfor -%}
          </ul>
        {%- endif -%}
      </div>

      <div class="hours-and-admission col-md-1-2 order-md-0">
        {% if siteOptions.footerInfo.hours|length -%}
          <ul>
          {% for hours in siteOptions.footerInfo.hours -%}
            <li{{ hours.closed == 1 ? ' class="closed"' : '' }} itemprop="openingHours">
              <div class="day">{{ hours.day }}</div>
              <div class="hours">{{ hours.hours }}</div>
            </li>
          {% endfor -%}
          </ul>
        {% endif -%}
        <div class="admission">
          Admission is always free and open to the public.
          <meta itemprop="isAccessibleForFree" content="true"/>
        </div>
      </div>
    </div><!-- /.grid -->

    <div class="footer-bottom grid spaced">
      {% if siteOptions.footerInfo.social|length %}
        <ul class="social col-md-1-2 order-md-1">
        {%- for link in siteOptions.footerInfo.social -%}
          <li>
            <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
        </ul>
      {% endif %}

      <div class="copyright-legal col-md-1-2 order-md-0">
        <div class="copyright">
          &copy; {{ "now"|date("Y") }} Lubeznik Center for the Arts
        </div>

        <ul class="legal-privacy">
          <li><a href="/legal">Legal</a></li>
          <li><a href="/pricay">Privacy</a></li>
        </ul>
      </div>

    </div><!-- /.grid -->

  </div><!-- /.container -->

  {# Choose footer character at random #}
  {% set characterPath = '/images/footer-character-' ~ random(1,7) ~ '.svg' %}
  <img class="footer-character" src="{{ rev(characterPath) }}" role="presentation" alt="">
</footer>

<script async src="{{ rev('/scripts/manifest.js') }}"></script>
<script async src="{{ rev('/scripts/vendor.js') }}"></script>
<script async src="{{ rev('/scripts/main.js') }}"></script>
