{% set navItems = [
  {'slug': 'exhibitions', 'name': 'Exhibitions' },
  {'slug': 'learning',    'name': 'Learning' },
  {'slug': 'events',      'name': 'Events'},
  {'slug': 'about',       'name': 'About'},
] %}

<div class="header">
  <div class="container">
    <button class="toggle-nav hamburger">
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 5.88103V2.16675H26V5.88103H0Z" fill="#2B2C2A"/>
      <path d="M0 23.8334V20.1191H26V23.8334H0Z" fill="#2B2C2A"/>
      <path d="M0 14.8571V11.1428H18.5714V14.8571H0Z" fill="#2B2C2A"/>
      </svg>
    </button>
    <nav class="nav-main" aria-live="polite">
      <button class="close-nav">
        Close
      </button>
      <ul>
        {% for navItem in navItems %}
          <li class="nav-{{ navItem.slug }}"><a{{ entry is defined and entry.slug == navItem.slug or craft.app.request.getSegment(1) == navItem.slug ? ' class="-active"'|raw : '' }} href="/{{ navItem.slug }}"><span data-title="{{ navItem.name }}">{{ navItem.name }}</span></a></li>
        {% endfor %}
      </ul>
    </nav>
    <a class="logo" href="/">Lubeznik</a>
  </div>
</div>
