{% if entry.pageHeader|length %}
<div class="text-header page-header">
  <div class="container">

    <div class="wrap -reveal">
      <div class="header-wrap">
        <h2 class="h1">{{ entry.pageHeader.headline }}</h2>
        {% if entry.pageHeader.subhead %}
          <h3>{{ entry.pageHeader.subhead|nl2br }}</h3>
        {% endif %}
      </div>

      {% if entry.pageHeader.cta|length and entry.pageHeader.cta[0].url and entry.pageHeader.cta[0].text %}
        <div class="cta">
          <a class="button -giant -pill" href="{{ entry.pageHeader.cta[0].url }}">
            {{ entry.pageHeader.cta[0].text }}
            <svg class="sprite sprite-arrow" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
          </a>
        </div>
      {% endif %}

    </div>
  </div>
</div>
{% endif %}
