{% if image %}
  {# Default sizes/srcsets #}
  {% if imgSrcSets is not defined %}
    {% set imgSrcSets = [ { width: 1200 }, { width: 750, jpegQuality: 70 } ]  %}
  {% endif %}
  {% if imgSizes is not defined %}
    {% set imgSizes = '(max-width: 768px) 100vw, 50vw' %}
  {% endif %}

  {# Leave GIFs alone #}
  {% if image.filename matches '/gif$/' %}
    {% set treatedImage = image %}
  {% else %}
    {% set transformedImages = craft.imager.transformImage(image, imgSrcSets, { jpegQuality: 80, interlace: true }) %}
  {% endif %}

  <picture>
    {% if image.filename matches '/gif$/' %}
      <img loading="lazy" src="{{ treatedImage.getUrl() }}" alt="{{ image.title }}">
    {% else %}
      <img loading="lazy" sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.title }}">
    {% endif %}
  </picture>
{% endif %}
