<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{% include 'partials/_head' %}
{% if entry is defined and craft.app.request.getSegment(1) %}
  {% set pageClass = (bodyClass is defined and bodyClass matches '/page\-/') ? '' : 'page-' ~ craft.app.request.getSegment(1) %}
{% elseif entry is defined %}
  {% set pageClass = 'page-home' %}
{% else %}
  {% set pageClass = '' %}
{% endif %}

<body class="{% if bodyClass is defined %}{{ bodyClass }} {% endif %}{{ pageClass }}{{ entry is defined and entry.pageHeader|length or pageHeader is defined ? '' : ' no-page-header' }}{{ currentUser ? ' user-logged-in' : '' }}{{ craft.app.session.hasFlash('notice') or craft.app.session.hasFlash('error') or siteOptions.globalNotificationBanner.notificationStatus == 1 and siteOptions.globalNotificationBanner.message|length ? ' show-flash-message' : '' }}" data-barba="wrapper"{% if pageClass is defined %} id="{{ pageClass }}"{% endif %}>
  {{ adminbar({ sticky: false, entry: entry ?? null }) }}
  <div id="top"></div>
  <a href="#page" class="skip-to-content sr-only" data-no-swup>Skip to main content</a>

  {% include 'partials/_nav' %}
  {% include 'partials/_flash' %}

  <div class="overflow-container">
    <main class="site-main">
      <div id="page" data-barba="container" data-barba-namespace="{{ entry is defined ? entry.title : 'no-title' }}" aria-live="polite" tabindex="-1">
        {% block content %}{% endblock %}
      </div>
    </main>

    {% include 'partials/_footer' %}
  </div>

  <div id="curtain"></div>
</body>
</html>
