{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set seoTitle = 'Lubeznik Center For The Arts' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <div class="header-shape">
    <svg class="background" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-waterfall-1"/></svg>
    <svg class="foreground" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-header-curtain"/></svg>
  </div>

  {% include 'partials/_page-header' %}

  {# Education intro block #}
  <div id="page-content"></div>
  <div class="education-intro section">
    <div class="container">
      <div class="grid spaced feature-block">
        <div class="text-wrap col-md-1-2">
          <div class="block-header">
            <h2 class="block-headline">{{ entry.educationIntro.headline }}</h2>
          </div>
          <div class="body user-content">
            {{ entry.educationIntro.body }}
          </div>
          <a href="/learning" class="button -large -moss">{{ entry.educationIntro.cta }} <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></a>
        </div>

        {% if entry.educationIntro.image|length %}
          <div class="col-md-1-2">
            <figure class="offset-right">
              {% include 'partials/_picture' with { image: entry.educationIntro.image[0] } %}
              {% if entry.educationIntro.imageCaption %}
                <figcaption>{{ entry.educationIntro.imageCaption|nl2br }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# Recent exhibits #}
  {% set exhibits = craft.entries.section('exhibits').all() %}
  <div class="recent-exhibits section margins-vertical">
    <div class="container">
      <div class="block-header">
        <div class="block-header">
          <h2 class="block-headline">Our Exhibitions</h2>
          {# <p class="block-label">Showing 2 of {{ exhibits|length }} total</p> #}
        </div>
      </div>
      <div class="grid spaced-lg">
        {% for exhibit in exhibits|slice(0, 2) %}
          <article class="exhibit bigclicky col-md-1-2">
            {% if exhibit.featuredImages|length %}
              <figure>
                {% include 'partials/_picture' with { image: exhibit.featuredImages[0] } %}
                <div class="date figure-label">
                  <time datetime="{{ exhibit.dateStart|date("Y-m-d")}}">{{ exhibit.dateStart|date("M. j")}}{{ exhibit.dateEnd ? ' &mdash;<br>' : '' }}</time>
                  {% if exhibit.dateEnd %}
                    <time datetime="{{ exhibit.dateEnd|date("Y-m-d")}}">{{ exhibit.dateEnd|date("M. j")}}</time>
                  {% endif %}
                </div>
              </figure>
            {% endif %}
            <h3 class="exhibit-title"><a href="{{ exhibit.getUrl() }}">{{ exhibit.title }}{% if exhibit.subtitle %}: {{ exhibit.subtitle }}{% endif %}</a></h3>
            <a href="{{ exhibit.getUrl() }}" class="button">View Exhibit Details</a>
          </article>
        {% endfor %}
      </div>
      <div class="section-cta">
        <a href="/exhibitions" class="button -large -indigo">What’s On Display <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></a>
      </div>
    </div>
    <div class="section-character">
      <svg class="fill-white" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-eyes"/></svg>
    </div>
  </div>

  {# Events intro block #}
  <div class="events-intro feature-block section margins-vertical padding-vertical">
    <div class="container">
      <div class="grid spaced v-center">
        <div class="text-wrap col-md-1-2">
          <div class="block-header">
            <h2 class="block-headline">{{ entry.eventsIntro.headline }}</h2>
          </div>
          <div class="body user-content">
            {{ entry.eventsIntro.body }}
          </div>
          <a href="/events" class="button -large -watermelon">{{ entry.eventsIntro.cta }} <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></a>
        </div>

        {% if entry.eventsIntro.image|length %}
          <div class="col-md-1-2">
            <figure class="offset-right">
              {% include 'partials/_picture' with { image: entry.eventsIntro.image[0] } %}
              {% if entry.eventsIntro.imageCaption %}
                <figcaption>{{ entry.eventsIntro.imageCaption|nl2br }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="section-character">
      <svg class="fill-canary" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-b"/></svg>
    </div>
  </div>

  {# Giant tagline -- should this be editable? #}
  <div class="tagline section align-center margins-vertical padding-vertical">
    <div class="container">
      <div class="h1 -reveal">
        Building Community<br>
        Shaping Worlds
      </div>
    </div>
    <div class="section-character">
      <svg class="fill-white" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-smirk"/></svg>
    </div>
  </div>

  {% include 'partials/_donors' with { logosOnly: true } %}

  {% endcache %}
{% endblock content %}
