{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  <div class="header-shape">
    <svg class="background" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-waterfall-1"/></svg>
    <svg class="foreground" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-header-curtain"/></svg>
  </div>

  {% include 'partials/_page-header' %}

  {# Education intro block #}
  <div class="education-intro padding-vertical">
    <div class="container">
      <div class="grid spaced feature-block">
        <div class="text-wrap col-md-1-2">
          <h2>{{ entry.educationIntro.headline }}</h2>
          <div class="body user-content">
            {{ entry.educationIntro.body }}
          </div>
          <a href="/education" class="button -large -moss">{{ entry.educationIntro.cta }} <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></a>
        </div>

        {% if entry.educationIntro.image|length %}
          <div class="col-md-1-2">
            <figure class="offset-right">
              {% include 'partials/_picture' with { image: entry.educationIntro.image[0] } %}
              {% if entry.educationIntro.imageCaption %}
                <figcaption>{{ entry.educationIntro.imageCaption|nl2br }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# Recent exhibits #}
  <div class="recent-exhibits padding-bottom">
    <div class="container">
      <h2>Our Exhibitions</h2>
      <div class="grid spaced-lg">
        {% for exhibit in craft.entries.section('exhibits').limit(2).all() %}
          <article class="exhibit bigclicky col-md-1-2">
            {% if exhibit.featuredImages|length %}
              <figure>
                {% include 'partials/_picture' with { image: exhibit.featuredImages[0] } %}
                <div class="date figure-label">
                  <time datetime="{{ exhibit.dateStart|date("Y-m-d")}}">{{ exhibit.dateStart|date("M. j")}}{{ exhibit.dateEnd ? ' &mdash;<br>' : '' }}</time>
                  {% if exhibit.dateEnd %}
                    <time datetime="{{ exhibit.dateEnd|date("Y-m-d")}}">{{ exhibit.dateEnd|date("M. j")}}</time>
                  {% endif %}
                </div>
              </figure>
            {% endif %}
            <h3><a href="{{ exhibit.getUrl() }}">{{ exhibit.title }}{% if exhibit.subtitle %}: {{ exhibit.subtitle }}{% endif %}</a></h3>
            <a href="{{ exhibit.getUrl() }}" class="button">View Exhibit Details</a>
          </article>
        {% endfor %}
      </div>
      <div class="section-cta grid spaced-lg">
        <div class="col-md-1-2">
          <a href="/exhibitions" class="button -large -indigo">What’s On Display <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></a>
        </div>
      </div>
    </div>
    <img class="section-character" src="{{  rev('/images/circles.svg') }}" role="presentation" alt="">
  </div>

  {# Events intro block #}
  <div class="events-intro feature-block padding-bottom">
    <div class="container">
      <div class="grid spaced v-center">
        <div class="text-wrap col-md-1-2">
          <h2>{{ entry.eventsIntro.headline }}</h2>
          <div class="body user-content">
            {{ entry.eventsIntro.body }}
          </div>
          <a href="/events" class="button -large -watermelon">{{ entry.eventsIntro.cta }} <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></a>
        </div>

        {% if entry.eventsIntro.image|length %}
          <div class="col-md-1-2">
            <figure class="offset-right">
              {% include 'partials/_picture' with { image: entry.eventsIntro.image[0] } %}
              {% if entry.eventsIntro.imageCaption %}
                <figcaption>{{ entry.eventsIntro.imageCaption|nl2br }}</figcaption>
              {% endif %}
            </figure>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {# Giant tagline -- should this be editable? #}
  <div class="tagline align-center padding-bottom">
    <div class="container">
      <div class="h1 -reveal">
        Building Community<br>
        Shaping Worlds
      </div>
    </div>
  </div>

  <div class="donors">
    <div class="container">
      <h2>We are so thankful for our Donors:</h2>
      {# Donors list #}
    </div>
  </div>

  {% endcache %}
{% endblock content %}
