<div class="staff">
  <div class="container">

    <h2>Our Staff & Leadership</h2>

    <ul class="people">
      {% for person in entry.staff.all() %}
        <li class="person">
          <h3 class="name">{{ person.personName }}</h3>
          <span class="title">{{ person.personTitle }}</span>
          {% if person.email %}
            <span class="email">{{ person.email }}</span>
          {% endif %}
          {% if person.phone %}
            <span class="phone">{{ person.phone }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
