// Accordion Styles

.accordion {
  width: 100%;
  display: block;
  border-top: 3px solid color('coal');
  padding: $padding-xs #{$padding-xs / 3};
  transition: background-color 0.2s ease-out;
  &:not(.-active) {
    &:hover,
    &:focus {
      background-color: color('white');
    }
  }

  @include media-md {
    padding-left: 16px;
    padding-right: 24px;
  }

  // Accordion Toggle
  button.toggle {
    &:hover,
    &:focus {
      outline: none;
      border-color: transparent;
      background-color: transparent;
    }
  }
  // Active hover states
  &.-active {
    button.toggle {
      border-color: color('white');
      background-color: color('white');
    }
  }

  // Last accordion item gets bottom border
  &:last-child {
    border-bottom: 3px solid color('coal');
  }

  // Accordion open
  &.-active {
    button.toggle {
      .accordion-plus {
        display: none;
      }
      .accordion-minus {
        display: inline-block;
      }
    }
  }

  // Accordion toggle block
  .accordion-toggle {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &.button-container {
        align-items: flex-start;
      }

      @include media-md {
        white-spcae: nowrap;
      }
    }
  }

  .accordion-content {
    margin-top: $padding-xs;

    @include media-md {
      margin-top: 30px;
    }
  }

  // Toggle button
  button.toggle {
    .accordion-plus {
      display: inline-block;
    }
    .accordion-minus {
      display: none;
    }
  }

  // Default to content not showing
  .accordion-content {
    display: none;
  }
}