// Flash Messages

.body.show-flash-message {
}

.site-flash {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: z(flash);
  position: relative;
  margin-bottom: -1px;
  padding: $padding-xs 0;
  background-color: color('watermelon');
  @include media-md {
    padding: #{$padding-xs / 2} 0;
  }

  p {
    @include h4;
    padding-right: $padding-xs * 3;

    .button {
      display: block;
      margin-top: $padding-xs;

      &.-watermelon {
        border-color: color('coal');
      }

      @include media-md {
        margin-top: 0;
        display: inline-block;
        margin-left: $padding-xs;
      }
    }
  }

  .sprite-check {
    width: 24px;
    height: 24px;
  }

  .-inner {
    display: block;
    position: relative;
  }

  .flash-close {
    @extend .button-reset;
    right: 0;
    padding: 6px;
    top: $padding-xs;
    position: absolute;
    transform: translate(42px, -50%);
    @include media-md {
      top: 50%;
      transform: translate(100%, -50%);
    }

    svg {
      width: 16px;
      height: 16px;
      fill: color('coal');
      transition: 0.2s ease-out;
    }

    &:hover,
    &:focus {
      svg {
        fill: color('white');
      }
    }
  }
}