// Pagination

.pagination {
  padding-top: 48px;
  margin-top: $padding-sm;
  border-top: 3px solid color('coal');

  .-inner > div + div {
    margin-top: 24px;
  }

  a {
    display: flex;

    &.button.-giant {
      width: 100%;
      max-width: none;
    }

    > span {
      color: color('white');

      span {
        color: color('coal');
      }
    }

    &:hover,
    &:focus {
      > span {
        color: color('gray2');
      }
    }
  }

  .previous {
    a {
      text-align: right;
    }
  }

  .next {
    text-align: right;
  }

  @include min-screen(1048px) {
    margin-top: $padding-md;

    .col- {
      max-width: 50%;
      flex-basis: 50%;
    }

    .-inner > div + div {
      margin-top: 0;
    }
  }
}

// Exhibition-style Pagination
.event-pagination {
  display: flex;
  margin-top: 28px;

  > * {
    flex-basis: auto;
  }

  > * + * {
    margin-left: 14px;
  }

  a {
    align-items: center;
    display: inline-flex;
  }

  .number {
    @include h4;
    @include transition(background-color, border-color);
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    border: 2px solid color('coal');

    &.current {
      border-color: transparent;
      background-color: color('watermelon');
    }

    &:not(.current) {
      &:hover,
      &:focus {
        border-color: transparent;
        background-color: color('watermelon');
      }
    }
  }

  .dots {
    display: flex;
    align-items: center;

    svg {
      width: 40px;
      height: 8px;
      fill: color('gray2');
    }
  }

  @include media-md {
    > * + * {
      margin-left: 24px;
    }

    .number {
      width: 64px;
      height: 64px;
      line-height: 58px;
    }
  }
}