// Page headers

.page-header {
  padding-top: 88px;
  @include media-md {
    padding-top: $header-height-lg;
  }

  h1 {
    margin: 0;
  }

  // Text Headers
  &.text-header {
    h3 {
      @include h4;
      margin: 40px 0 0;
      text-align: right;
    }

    .cta {
      text-align: left;
      margin-top: 40px;

      p {
        @include h4;
        max-width: 320px;
        margin: 0 0 24px;
      }
    }

    @include media-md {
      text-align: center;

      .cta {
        margin-top: $padding-md;
      }
    }
  }

  // Alt Style
  &.-alt {
    text-align: left;
  }
}

// Page-header Shapes
.header-shape {
  top: 0;
  left: 50%;
  height: 0;
  z-index: -1;
  width: 100%;
  position: absolute;
  vertical-align: top;
  padding-bottom: 100%;
  transform: translateX(-50%);

  svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 544px;
    position: absolute;
  }
}

// Header bottom-border shapes
.header-border {
  left: 0;
  z-index: -1;
  width: 100%;
  position: absolute;
  vertical-align: top;
  padding-bottom: 100%;

  svg {
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  + * {
    margin-top: 40px;
  }

  &.with-cta + * {
    margin-top: 300px;
  }

  @include media-md {
    + * {
      margin-top: $padding-md;
    }

    &.with-cta + * {
      margin-top: 300px;
    }
  }
}

// Pages without page-header
body.no-page-header {
  .site-main {
    padding-top: $header-height-sm;
    @include media-md {
      padding-top: 260px;
    }
  }
}