// Shared components

// Image reveals
.-reveal {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: transform 1.25s $cubic-ease2, opacity 0.5s $cubic-ease2;
  will-change: transform, opacity;

  &.-delay {
    transition: transform 2s $cubic-ease2, opacity 0.5s $cubic-ease2;
  }

  @include media-md {
    transform: translate3d(0, 30%, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Squiggly Links
.squiggle {
  @include squiggle();

  &.-alt {
    @include squiggle(alt);
  }
}

// Chips
.chip {
  @include type-ui-label;
  line-height: 1;
  padding: 6px 11px;
  border-radius: 16px;
  white-space: nowrap;
  display: inline-block;
  background-color: color('gray1');

  // Color Variations
  @each $color, $value in $colors {
    &.-#{$color} {
      @if $color == 'indigo' or $color == 'coal' {
        color: color('white');
      }
      background-color: $value;
    }
  }
}

// Borders
.bordered {
  border-top: 2px solid color('coal');
  border-bottom: 2px solid color('coal');
}