// Animations

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

// Playful animation for logo hover
@keyframes playful {
  50% {
    font-variation-settings: 'wdth' 900;
  }
  100% {
    font-variation-settings: 'wdth' 100;
  }
}

// Squeeze!
@keyframes squeeze {
  0%, 50%, 100% {
    transform: rotate(-90deg) scale(1);
  }
  33% {
    transform: scaleX(1.25) scaleY(0.75) rotate(-90deg);
  }
  66% {
    transform: scaleX(0.75) scaleY(1.25) rotate(-90deg);
  }
}