// Base styles

// Border-box everything
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

// This can cause issues with scrolling
html,
body {
  overflow-x: hidden;
}

body {
  @include p1;
  background: color(cream);
  color: color(darkgray);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Glogal Container
.container {
  max-width: $container-width;
  padding-right: $global-padding-xs;
  padding-left: $global-padding-xs;

  @include media-sm {
    padding-left: $global-padding-sm;
    padding-right: $global-padding-sm;
  }

  @include media-md {
    padding-left: $global-padding-md;
    padding-right: $global-padding-md;
  }

  @include media-lg {
    padding-left: $global-padding-lg;
    padding-right: $global-padding-lg;
  }
}