// Base styles

// Border-box everything
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

// This can cause issues with scrolling
html,
body {
  overflow-x: hidden;
}

body {
  @include p1;
  background: color(cream);
  color: color(darkgray);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

// Set in common.js at random
::selection {
  background: color('coal');
  color: color('watermelon');
  // ^ IE fallback ^
  color: var(--selection-color-text);
  background: var(--selection-color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Disable visual focus set for swup
#page:focus {
  outline: none;
}

// Glogal Container
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-xs;
  padding-right: $padding-xs;
  max-width: $container-width;

  @include media-sm {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include media-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }

  @include media-lg {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
  }
}

// Page Curtain
#curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: z(curtain);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: background-color 0s 2s;
  background-color: var(--selection-color-bg);
  &.enter {
    transform-origin: top;
  }
}