// Base styles

// Border-box everything
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

// This can cause issues with scrolling
html,
body {
  overflow-x: hidden;
}

body {
  @include p1;
  background: color(cream);
  color: color(darkgray);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

// Set in common.js at random
::selection {
  background: color('coal');
  color: color('watermelon');
  // ^ IE fallback ^
  background: var(--selection-color-bg, color('coal'));
  color: var(--selection-color-text, color('watermelon'));
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Glogal Container
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-xs;
  padding-right: $padding-xs;
  max-width: $container-width;

  @include media-sm {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include media-md {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }

  @include media-lg {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
  }
}