// Grid system

$grid: 10px;
$gutter: 20px;

// Padding/Spacing
$global-padding-xs: 16px;
$global-padding-sm: 64px;
$global-padding-md: 80px;
$global-padding-lg: $global-padding-md * 2;

@mixin global-padding($vhb: 'both') {
  @if $vhb == 'both' or $vhb == 'vertical' {
    padding-top: $global-padding-xs;
    padding-bottom: $global-padding-xs;
    @include media-sm {
      padding-top: $global-padding-sm;
      padding-bottom: $global-padding-sm;
    }
    @include media-md {
      padding-top: $global-padding-md;
      padding-bottom: $global-padding-md;
    }
    @include media-lg {
      padding-top: $global-padding-lg;
      padding-bottom: $global-padding-lg;
    }
  }
  @if $vhb == 'both' or $vhb == 'horizontal' {
    padding-left: $global-padding-xs;
    padding-right: $global-padding-xs;
    @include media-sm {
      padding-left: $global-padding-sm;
      padding-right: $global-padding-sm;
    }
    @include media-md {
      padding-left: $global-padding-md;
      padding-right: $global-padding-md;
    }
    @include media-lg {
      padding-left: $global-padding-lg;
      padding-right: $global-padding-lg;
    }
  }
}
%global-padding-both,
.global-padding-both {
  @include global-padding('both');
}
%global-padding-vertical,
.global-padding-vertical {
  @include global-padding('vertical');
}
%global-padding-horizontal,
.global-padding-horizontal {
  @include global-padding('horizontal');
}

$global-columns: 10;
$column-width: 100% / $global-columns;

// Quickie columns($num-columns, $parent-num-columns) function
@function columns($num-columns, $parent-num-columns: $global-columns) {
  @return $column-width * $num-columns * ($global-columns / $parent-num-columns);
}
@function grid($num) {
  @return $grid * $num;
}

// Common padding
@mixin global-padding($desktop-padding:12, $desktop-parent-columns:$global-columns) {
  padding: $global-padding-sm;

  // Desktop styles
  @include media-md {
    padding: grid($desktop-padding) columns(2, $desktop-parent-columns);
  }
}

.row {
  @include clearfix;
}

// Global flexbox grid styles
.grid {
  width: 100%;
  display: block;
  @include min-screen($breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
  }
  &.-persist {
    display: flex;
  }
}

.grid.-persist {
  .grid-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}

@include min-screen($breakpoint-md) {
  .grid-item {
    flex-basis: auto;
  }
  .one-fourth {
    max-width: 25%;
    flex-basis: 25%;
  }
  .one-third {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .one-half {
    flex-basis: 50%;
    max-width: 50%;
  }
  .two-thirds {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
}
