// Theme-related styles and helpers

// Color Theming
@each $color, $value in $colors {
  .color-#{$color} {
    fill: $value;
    color: $value;
  }
  .background-#{$color} {
    background-color: $value;
  }
  .border-#{$color} {
    border: 1px solid $value;
  }
  .outline-#{$color} {
    outline: 1px solid $value;
  }
  .fill-#{$color} {
    fill: $value;
  }
}

// Dark Theme
.dark-theme:not(.nav-stuck) {
  .site-header {
    .logo {
      color: color('cream');
    }
  }

  button.toggle-nav svg {
    fill: color('cream');
  }

  @include media-md {
    .nav-main {
      .primary-items a {
        color: color('cream');
        &:hover,
        &:focus {
          @include squiggle(alt, $hoverColor: 'EFEEEA');
          color: color('cream');
        }
      }
      .secondary-items .button {
        color: color('cream');
        &:hover,
        &:focus {
          color: color('coal');
        }
      }
    }
  }
}