// Typography

// Lubeznik Custom
@font-face {
  font-family: 'lubeznik';
  src: url('../fonts/LubeznikLogotypeGX.ttf');
}
// Mabry
@font-face {
  font-family: 'Mabry';
  src: url('../fonts/licensed/mabry-regular-pro.eot');
  src: url('../fonts/licensed/mabry-regular-pro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/licensed/mabry-regular-pro.woff2') format('woff2'),
       url('../fonts/licensed/mabry-regular-pro.woff') format('woff'),
       url('../fonts/licensed/mabry-regular-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mabry';
  src: url('../fonts/licensed/mabry-italic-pro.eot');
  src: url('../fonts/licensed/mabry-italic-pro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/licensed/mabry-italic-pro.woff2') format('woff2'),
       url('../fonts/licensed/mabry-italic-pro.woff') format('woff'),
       url('../fonts/licensed/mabry-italic-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Mabry';
  src: url('../fonts/licensed/mabry-bold-pro.eot');
  src: url('../fonts/licensed/mabry-bold-pro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/licensed/mabry-bold-pro.woff2') format('woff2'),
       url('../fonts/licensed/mabry-bold-pro.woff') format('woff'),
       url('../fonts/licensed/mabry-bold-pro.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Mabry';
  src: url('../fonts/licensed/mabry-bold-italic-pro.eot');
  src: url('../fonts/licensed/mabry-bold-italic-pro.eot?#iefix') format('embedded-opentype'),
       url('../fonts/licensed/mabry-bold-italic-pro.woff2') format('woff2'),
       url('../fonts/licensed/mabry-bold-italic-pro.woff') format('woff'),
       url('../fonts/licensed/mabry-bold-italic-pro.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// Fonts
@mixin mabry($weight: normal, $style: normal) {
  font-style: $style;
  font-weight: $weight;
  font-family: 'Mabry', sans-serif;
}

@mixin logofont {
  font-family: lubeznik;
}
@mixin logofont-playful {
  font-family: lubeznik;
  font-weight: 225;
  text-transform: uppercase;
  font-variation-settings: 'wdth' 100;
  transition: font-fariation-settings 1s ease-out;
  &:hover {
    animation: playful 1500ms infinite forwards;
  }
}

// Style Mixins
@mixin h0 {
  @include mabry(bold);
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2px;

  @include media-md {
    font-size: 66px;
    line-height: 72px;
    letter-spacing: -3px;
  }

  @include media-lg {
    font-size: 84px;
    line-height: 88px;
  }
}
%h0,
.h0 {
  @include h0;
}

@mixin h1 {
  @include mabry(bold);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.0138em;

  @include media-md {
    font-size: 66px;
    line-height: 72px;
    letter-spacing: -3px;
  }
}
%h1,
.h1 {
  @include h1;
}

@mixin h2 {
  @include mabry(bold);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -.0138em;

  @include media-md {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -2px;
  }
}
%h2,
.h2 {
  @include h2;
}

@mixin h3 {
  @include mabry(bold);
  font-size: 26px;
  line-height: 32px;

  @include media-md {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}
%h3,
.h3 {
  @include h3;
}

@mixin h4 {
  @include mabry(bold);
  font-size: 16px;
  line-height: 22px;

  @include media-md {
    font-size: 18px;
    line-height: 24px;
  }
}
%h4,
.h4 {
  @include h4;
}

@mixin p1 {
  @include mabry;
  font-size: 21px;
  line-height: 28px;

  @include media-md {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.0083em;
  }
}
%p1,
.p1 {
  @include p1;
}

@mixin p2 {
  @include mabry;
  font-size: 16px;
  line-height: 22px;

  @include media-md {
    font-size: 18px;
    line-height: 24px;
  }
}
%p2,
.p2 {
  @include p2;
}

@mixin p2-link {
  @include p2;
  text-decoration: underline;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: color('watermelon-dark');
  }
}

@mixin type-caption {
  @include mabry;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.0153em;
}
%type-caption,
.type-caption {
  @include type-caption;
}

@mixin type-ui-label {
  @include mabry(bold);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include media-md {
    font-size: 14px;
  }
}
%type-ui-label,
.type-ui-label {
  @include type-ui-label;
}

// Reset all margins
dl,
dt,
dd,
blockquote,
figure,
p,
ol,
ul,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

// Reset address styles
address {
  font-style: normal;
}

// Basic paragraph styles
address,
p,
figcaption {
  @include p2;
  em {
   font-style: italic;
  }
}
