// Utility classes
.hidden,
.hide {
  display: none;
}
.loading {
  opacity: 0.5;
}

// Visually hide, accessibility-friendly
.screen-reader-text,
.sr-only {
  @include sr-only;
}

.clearfix,
.cf {
  @include clearfix;
}

// Semantic List
.semantic-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Button reset
.button-reset {
  border: none;
  appearance: none;
  background: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

// Visibility classes (borrowing nomenclature from Foundation)
.show-for-small-up {
  display: none;
  @include media-sm {
    display: block;
    &.-inline {
      display: inline;
    }
  }
}
.show-for-medium-up {
  display: none!important;
  @include media-md {
    display: block!important;
    &.-inline {
      display: inline!important;
    }
  }
}
.hide-for-medium-up {
  @include media-md {
    display: none !important;
  }
}

// Alignment
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

// Columns
.text-columns {
  &-xs {
    &-2 {
      columns: 2;
    }
  }
}

// This allows js to determine breakpoint
#breakpoint-indicator {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  &::after {
    content: 'xs';
    @include media-sm {
      content: 'sm';
    }
    @include media-md {
      content: 'md';
    }
    @include media-nav {
      content: 'nav';
    }
    @include media-lg {
      content: 'lg';
    }
    @include media-xl {
      content: 'xl';
    }
  }
}
