// Variables

// Colors
$colors: (
	"black": #000,
	"white": #fff,
	"cream": #EFEEEA,
	"gray1": #D1CAC1,
	"gray2": #837767,
	"coal": #2B2C2A,
	"indigo": #5A5AE0,
  "watermelon": #F65F92,
  "watermelon-dark": #E93A79,
	"canary": #F4CF31,
	"moss": #A7AA3D
);
@function color($color-name) {
  @return map-get($colors, #{''+$color-name+''});
}

// Color Gradient
$colorGradient: linear-gradient(to right, color('indigo') 0, color('indigo') 15px, color('watermelon') 15px, color('watermelon') 45px, color('canary') 45px, color('canary') 75px, color('moss') 75px, color('moss') 105px, color('indigo') 105px, color('indigo') 120px);
@keyframes colorGradient {
  0% {
    background-position: -120px;
  }
  100% {
    background-position: 240px;
  }
}

// Breakpoints
$breakpoint-sm: 400px;
$breakpoint-md: 768px;
$breakpoint-nav: 768px;
$breakpoint-lg: 1120px;
$breakpoint-xl: 1400px;

// Container width (max-width main content containers)
$container-width: 1440px;

// Sticky Header Height
$header-height-sm: 50px;
$header-height-lg: 60px;

// Z-index maps
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  header: 50,
  nav: 100,
  flash: 200,
  modal: 1000
);
@function z($key) {
  @return map-get($z-layers, $key);
}

// Custom cubic easings
$cubic-ease1: cubic-bezier(0.77, 0, 0.175, 1);
$cubic-ease2: cubic-bezier(0.165, 0.84, 0.44, 1);

// Base transition styles using @include transition(property)
$transition-duration: 0.2s;
$transition-duration-long: 0.6s;
$transition-easing: $cubic-ease1;
