{# Params #}
{% set exhibitVisitId = craft.app.request.getParam('exhibit_id') ?? 0 %}
{% if exhibitVisitId is defined %}
  {% set exhibit = craft.entries.id(exhibitVisitId).one() %}
{% endif %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="contact-form-wrap col-">

  <div class="form-wrap">

    <form method="post" action="/contact" autocomplete="on" name="contact-form" id="contact-form">
      <fieldset>
        <div class="form-row">
          <div class="input-wrap">
            <label for="from-name">Full Name</label>
            <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Enter your first and last name..."{{ exhibitVisitId ? ' autofocus' : '' }}>
            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
          </div>
        </div>
        <div class="form-row">
          <div class="input-wrap">
            <label for="from-email">Email Address</label>
            <input required id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Enter your email address...">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
          </div>
        </div>
        <div class="form-row">
          <div class="select-wrap input-wrap">
            <label for="focus-area">Subject</label>
            <select id="focus-area" name="message[SubjectOption]">
              <option value="">Select your specified subject...</option>
              {% for option in entry.contactFormOptions.subjectOptions %}
                <option value="{{ option.option }}"{{ message.subjectOption is defined and message.subjectOption==option.option or exhibitVisitId and 'xhibit' in option.option ? ' selected' : '' }}>{{ option.option }}</option>
              {% endfor %}
            </select>
            <svg class="sprite sprite-dropdown-arrow" aria-hidden="true"><use xlink:href="#sprite-dropdown-arrow"/></svg>
          </div>
          {{ message is defined and message ? errorList(message.getErrors('subjectOption')) }}
        </div>

        <div class="form-row">
          <div class="textarea-wrap input-wrap">
            <label for="message[Query]">Message</label>
            <textarea required rows="10" cols="40" id="message[Query]" name="message[Query]" placeholder="What would you like to talk to us about?">{% if exhibitVisitId %}I'd like to schedule a visit to the {{ exhibit.title }} exhibit.{% elseif message is defined and message.message.query %}{{ message.message.query }}{% endif %}</textarea>
          </div>
        </div>

        <p class="captcha-note">
          This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </p>
      </fieldset>

      <div class="actions">
        {{ csrfInput() }}
        <input name="botsLoveTheHoney" type="text">
        <input type="hidden" name="action" value="contact-form/send">
        <input type="hidden" name="toEmail" value="{{ entry.contactFormOptions.toEmail ? entry.contactFormOptions.toEmail|hash : craft.app.getModule('contact-form').getSettings().toEmail|hash }}">
        <input type="hidden" name="subject" value="Lubeznik Contact Submission" data-original-value="Lubeznik Contact Submission">
        <input type="hidden" name="message[formName]" value="Lubeznik Contact">

        {{ craft.contactFormExtensions.recaptcha | raw }}

        <div class="form-response"><svg class="sprite-check" aria-hidden="true" role="presentation"><use xlink:href="#sprite-check"/></svg> <p>{{ entry.contactFormOptions.successMessage ?? craft.app.getModule('contact-form').getSettings().successFlashMessage }}</p></div>

        <button type="submit" class="button -large -moss"><span>Submit</span></button>
      </div>
    </form>
  </div>

</div><!-- /.contact-form -->
