{% extends "layouts/_email-layout" %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('contact').one() %}
{% endif %}

{% block content %}

  {% if entry.contactFormOptions.noteToSubmitter %}
    {{ entry.contactFormOptions.noteToSubmitter }}
  {% else %}
    <h2>Thanks so much!</h2>
    <p>Your message has landed in our general mailbox! We do our best to respond to all messages within 24 hours or during our normal business hours. If you need to reach us sooner, please give us a call Wednesday–Monday (Closed Tuesday) between 11am-4pm CST — 219-874-4900.</p>
  {% endif %}

  <h3>Name</h3>
  <p>{{ submission.fromName }}</p>

  <h3>Email</h3>
  <p>{{ submission.fromEmail }}</p>

  {% if submission.message["SubjectOption"] is defined %}
    <h3>Subject</h3>
    <p>{{ submission.message["SubjectOption"] }}</p>
  {% endif %}

  <h3>Query</h3>
  <p>{{ submission.message["Query"] }}</p>
{% endblock %}
