// Component Library

body.component-library {
  .section-label {
    @include type-ui-label;
    border-bottom: 1px solid;
    margin-bottom: $padding-sm;
    padding-bottom: $padding-xs;
  }

  .typography {
    > * {
      margin: 0;
    }
    > * + * {
      margin-top: $padding-sm;
    }
  }

  .color-grid {
    .color {
      padding: $padding-md;
      border: 2px solid color('coal');
    }

    @include media-md {
      display: grid;
      row-gap: $gutter;
      column-gap: $gutter;
      grid-template-columns: 1fr 1fr;
    }

    @include media-lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Icons
  .icons {
    svg {
      vertical-align: middle;
    }
    svg + svg {
      margin-left: $padding-xs;
    }

    > div + p {
      margin-top: $padding-sm;
    }
  }

  // Buttons
  .buttons {
    .button {
      margin-bottom: $padding-xs;
    }
  }
}

// Code Blocks
pre, code {
  text-transform: none;
  font: 16px/1 monospace;

  strong {
    &,
    .hljs-string,
    .hljs-attr {
      font-weight: normal;
      color: color('watermelon-dark')!important;
    }
  }
}
h3 pre,
p pre {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}