// Component Library

body.component-library {
  .typography {
    > * {
      margin: 0;
    }
    > * + * {
      margin-top: $padding-xs;
    }
  }

  .color-grid {
    .color {
      padding: $padding-md;
      border: 2px solid color('coal');
    }

    @include media-md {
      display: grid;
      row-gap: $gutter;
      column-gap: $gutter;
      grid-template-columns: 1fr 1fr;
    }

    @include media-lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Icons
  .icons {
    svg {
      vertical-align: middle;
    }
    svg + svg {
      margin-left: $padding-xs;
    }
  }
}

// Code Blocks
pre, code {
  user-select: all;
  font: 16px/1 monospace;
  background-color: color('gray1');
}
pre {
  padding: 20px 0;

  code {
    padding: 0 20px;
  }
}
code {
  padding: 2px;
  display: inline-block;
}