// Events

// Events Listing template
.events-listing {
  margin-top: 40px;

  @include media-md {
    margin-top: 120px;
  }

  .refund-policy {
    @include p2;
    max-width: 560px;
    color: color('gray2');
    margin-top: $padding-xs;
  }
}

.event-article {

  // Active Styles
  &.-active {
    h3 {
      color: color('gray2');
      text-decoration: underline;
    }
  }

  .event-basic-info {
    > * {
      margin-bottom: 8px;
      margin-right: $padding-xs;
    }
  }

  h3 {
    @include p1;
  }

  .date {
    @include h4;
  }

  .tags {
    display: flex;
    align-items: center;
  }

  .tag {
    @extend .chip;

    + .tag {
      margin-left: 8px;
    }
  }

  // Event Extras
  .event-extras {
    margin-top: 30px;
  }
  .description {
    .time,
    .teacher {
      color: color('gray2');
    }
    .teacher {
      margin-top: 0;
    }
  }

  // Action buttons
  .actions {
    margin-top: $padding-xs;

    div + div {
      margin-top: $padding-xs;
    }

    @include media-md {
      margin-top: 0;

      > .-inner {
        height: 100%;
        display: flex;
        padding-right: 60px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}
