// Events

// Events Listing template
.events-listing {
  margin-top: 40px;

  @include media-md {
    margin-top: 120px;
  }

  .refund-policy {
    @include p2;
    max-width: 560px;
    color: color('gray2');
    margin-top: $padding-xs;
  }
}

// No Posts Found
.none-found {
  @include p1;
  padding: $padding-xs #{$padding-xs / 3};

  @include media-md {
    padding: 30px $padding-xs;
  }
}

// Ajax Wrapper
.ajax-wrap {
  min-height: 3px;
  position: relative;
  &.-loading {
    &::before {
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      content: '';
      height: 100%;
      position: absolute;
      background-color: rgba(color('cream'), 0.9);
    }
    &::after {
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 205px;
      height: 66px;
      display: block;
      padding-top: 13px;
      position: absolute;
      text-align: center;
      color: color('gray2');
      content: 'Loading...';
      border-radius: 9999px;
      background-color: transparent;
      border: 2px solid color('gray2');
      transform: translate(-50%, -50%);
    }
  }

  &::before,
  &::after {
    left: 0;
    height: 3px;
    width: 100%;
    content: '';
    position: absolute;
    background-color: color('coal');
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.event-article {

  // Active Styles
  &.-active {
    h3 {
      color: color('gray2');
      text-decoration: underline;
    }
  }

  .event-basic-info {
    padding-top: 8px;

    > * {
      margin-bottom: 8px;
      margin-right: $padding-xs;
    }
  }

  h3 {
    @include p1;
  }

  .date {
    @include h4;
  }

  .tags {
    width: 100%;
    display: flex;
    flex-basis: 100%;
    align-items: center;

    @include media-md {
      width: auto;
      flex-basis: auto;
    }
  }

  .tag {
    @extend .chip;

    + .tag {
      margin-left: 8px;
    }
  }

  // Event Extras
  .description {
    .time,
    .teacher {
      color: color('gray2');
    }
    .teacher {
      margin-top: 0;
    }
  }

  // Action buttons
  .actions {
    margin-top: $padding-xs;

    div + div {
      margin-top: $padding-xs;
    }

    @include media-md {
      margin-top: 0;

      > .-inner {
        height: 100%;
        display: flex;
        padding-right: 60px;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
      }

      .event-basic-info {
        > * {
          margin-bottom: 8px;
          margin-right: $padding-xs;
        }
      }
    }
  }
}
