// Homepage

body.page-home {

  .header-shape {
    svg {
      &.foreground {;
        fill: color('canary');
        transform: translate3d(0, -100%, 0);
        animation: slideInDownSm 2.5s forwards ease;
      }
      &.background {
        top: 70px;
        fill: color('white');
        animation: slideInDownSm 3s forwards ease;
      }
    }

    @include media-md {
      svg {
        &.foreground {
          animation: slideInDown 3.5s forwards ease;
        }
        &.background {
          top: 0;
          animation: slideInDown 4s forwards ease;
        }
      }
    }
  }

  .page-header.text-header {
    text-align: left;
    padding-bottom: 136px;

    h1 {
      @include h0;
    }

    h3 {
      margin-top: 8px;
    }

    @include media-md {
      padding-bottom: 240px;
    }

    @include media-xl {
      padding-bottom: 280px;
    }
  }

  // Scroll To Content Button
  .scroll-to-content {
    @include logofont-playful;
    left: 50%;
    width: 46px;
    font-size: 63px;
    margin-left: -23px;
    position: absolute;


    @include media-md {
      margin-top: $padding-md;
    }
  }

  // Recent Exhibits Section
  .recent-exhibits {
    position: relative;

    .section-character {
      top: 50%;
      width: 113%;
      max-width: none;
      max-width: 2568px;
      transform: translate(-50%, -50%);
    }

    // Exhibit Articles
    .exhibit {
      + .exhibit {
        margin-top: 40px;
      }

      @include media-md {
        + .exhibit {
          margin-top: 0;
        }
      }
    }
  }

}
