// Homepage

body.page-home {

  .header-shape {
    svg {
      &.foreground {;
        fill: color('canary');
        transform: translate3d(0, -100%, 0);
        animation: slideInDown 1.5s forwards ease;
      }
      &.background {
        fill: color('white');
      }
    }
  }

  // Recent Exhibits Section
  .recent-exhibits {
    position: relative;

    .section-character {
      top: 50%;
      width: 128%;
      max-width: none;
      max-width: 2568px;
      transform: translate(-50%, -50%);
    }

    @include media-md {
      .block-header {
        text-align: right;
      }
    }
  }

}
