// Footer

// Pre-footer
.pre-footer {
  position: relative;
  margin-top: $padding-md;
  padding-top: $padding-sm;
  padding-bottom: $padding-sm;
  &::before {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    content: '';
    height: 276px;
    position: absolute;
    background-image: url('../images/newsletter-shape.svg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: right top;
  }

  > * {
    position: relative;
  }

  @include media-md {
    &::before {
      height: 327px;
    }
  }

  @include media-lg {
    padding-top: 112px;
    padding-bottom: 112px;
    &::before {
      width: 50%;
      height: 424px;
    }
  }

  .newsletter-form.col-lg-1-2 {
    p {
      @include h3;
      margin: 0 0 $padding-xs;
    }

    .input-wrap {
      flex: 1;
    }

    input {
      border-color: color('white');
    }

    @include media-lg {
      background: none;
      padding-right: $padding-md;
    }
  }
}

// Footer Proper
footer.site-footer {
  position: relative;
  padding-bottom: 24px;
  margin-top: $padding-sm;
  @include media-md {
    margin-top: 310px;
    padding-bottom: 40px;
  }
  @include media-lg {
    margin-top: 220px;
  }
  @include media-xl {
    margin-top: 410px;
  }

  .footer-character {
    bottom: 0;
    z-index: -1;
    max-width: 1173px;
    position: absolute;
    pointer-events: none;

    @include media-sm {
      right: 0;
      left: auto;
      transform: none;
    }
    @include media-md {
      width: 62%;
    }
  }

	ul {
		@extend .semantic-list;
	}

  .contact {
    margin-bottom: $padding-xs;
    @include media-md {
      margin-bottom: $padding-md;
    }
  }

	.logo {
    @include logofont-playful;
    font-size: 34px;
    display: inline-block;
    margin-bottom: $padding-xs * 2;

    &:hover,
    &:focus {
      color: var(--selection-color-bg);
    }
	}

  address {
    @include p2;
  }

  .footer-nav {
    ul {
      padding-top: $padding-xs;
      padding-bottom: $padding-xs * 2;
    }

    @include media-md {
      ul {
        padding: 0;
      }
    }
  }

  .footer-nav {
    ul {
      padding-bottom: 24px;
      border-top: 1px solid color('gray1');
      border-bottom: 1px solid color('gray1');
    }

    li {
      margin-bottom: 8px;
    }

    a {
      @include h4;
      @include squiggle($hoverOnly: true);
      &.-active {
        border-bottom: 2px solid;
        color: color('watermelon-dark');
      }
      &:hover,
      &:focus {
        border-bottom: none;
      }
    }

    @include media-md {
      ul {
        border: none;
      }
    }
  }

  .hours-and-admission {
    @include p2;
    padding-top: $padding-xs;
    padding-bottom: $padding-xs * 2;

    li {
      @include clearfix;
      &.closed {
        color: color('gray2');
      }

      > div {
        width: 50%;
        float: left;
      }
    }

    .day {
      padding-right: $padding-sm;
    }

    .admission {
      margin-top: 8px;
    }

    @include media-md {
      padding-top: 0;
      padding-bottom: 0;

      li {
        > div {
          width: auto;
        }
      }

      .day {
        padding-right: 0;
        width: $padding-md;
      }

      .admission {
        max-width: 196px;
      }
    }
  }

  .footer-bottom {
    @include p2;
    @include media-md {
      margin-top: 72px;
    }

    ul {
      display: flex;
      margin-left: -12px;
      width: calc(100% + 24px);

      li {
        margin: 0 12px $padding-xs;
      }
    }

    a {
      text-transform: capitalize;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: color('watermelon-dark');
      }
    }
  }

  .social {
    @include media-md {
      flex-wrap: wrap;
    }
  }

  .copyright-legal {
    .copyright {
      margin-bottom: $padding-xs;
    }

    @include media-xl {
      display: flex;

      .copyright {
        margin-right: 24px;
        white-space: nowrap;
      }
    }
  }
}