// Header
.site-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 11px 0;
  position: absolute;

  > .container {
    display: flex;
    justify-content: space-between;
  }

	.logo {
		@include logofont-playful;
    font-size: 23px;
    vertical-align: top;
    display: inline-block;

    .tagline {
      @include mabry(bold);
      display: none;
      font-size: 18px;
      margin-top: 25px;
      line-height: 16px;
      letter-spacing: .0277em;
    }
	}

  @include media-nav {
    padding: 40px 0;

    > .container {
      display: block;
      text-align: center;
    }

    .logo {
      font-size: 50px;

      .tagline {
        display: block;
      }
    }
  }
}

// Sticky Header Styles
body.nav-stuck .site-header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: z(header);
  background-color: color('cream');
  animation: dropIn $transition-duration-long $transition-easing forwards;
  box-shadow: inset 0 2px 0 0 color('coal'), inset 0 -2px 0 0 color('coal');

  @include media-nav {
    padding: 14px 0;

    > .container {
      display: flex;
    }

    .logo {
      bottom: -2px;
      font-size: 38px;
      line-height: 32px;
      position: relative;

      .tagline {
        display: none;
      }
    }
  }
}

// Header drop-in animatino
@keyframes dropIn {
  0% {
    transform: translate3d(0,-100%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}