{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set title = '500: Undergoing Maintenance' %}
{% set bodyClass = 'general-page page-500 error-page dark-theme' %}
{% set noPreFooter = 1 %}

{% set pageHeader = true %}

{% block content %}
  {% cache unless currentUser %}

  {% include 'partials/_page-header' with {'style': '-alt', 'backgroundColor': 'coal', 'textColor': 'cream', 'pageHeadline': '500\n Undergoing Maintenance', 'pageSubhead': 'Oops!\n Sorry about that — check back soon.', 'headerCta': true, 'headerCtaText': 'Take Me Home', 'headerCtaUrl': '/'} %}

  <svg class="oops-face floaty" aria-hidden="true" role="presentation"><use xlink:href="#sprite-404-face"/></svg>

  <div class="header-border with-cta">
    <svg class="fill-coal" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-header-text-border-2"/></svg>
  </div>

  {% endcache %}
{% endblock content %}