{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set title = 'Component Library' %}
{% set bodyClass = 'general-page component-library' %}

{% block content %}
  {% cache unless currentUser %}

  <div class="container padding-top">

    <section class="typography padding-bottom">
      <h3 class="type-ui-label">Typography</h3>
      <h1 class="h0">H0 Lorem ipsum dolor sit amet</h1>
      <h1 class="h1">H1 Lorem ipsum dolor sit amet</h1>
      <h2 class="h2">H2 Lorem ipsum dolor sit amet</h2>
      <h3 class="h3">H3 Lorem ipsum dolor sit amet</h3>
      <h4 class="h4">H4 Lorem ipsum dolor sit amet</h4>
      <p class="p1">P1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo soluta, officia. Voluptatibus magni, asperiores architecto, consequuntur eveniet adipisci explicabo obcaecati, molestias vero doloribus, eum tempora. Assumenda reprehenderit a, sit tenetur.</p>
      <p class="p2">P2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, laudantium, esse. Expedita hic, voluptatem architecto eligendi fugiat at tempora velit, repellat sunt laboriosam porro libero, excepturi cumque officia, dolore eum.</p>
      <p class="type-caption">Caption Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p class="type-ui-label">UI Label Etiam Sit Condimentum</p>
    </section>

    <section class="colors padding-bottom">
      <h3 class="type-ui-label">Colors</h3>
      <div class="color-grid">
        <div class="color background-white"><p>white<br> <code>#FFFFFF</code></p></div>
        <div class="color background-cream"><p>cream<br> <code>#EFEEEA</code></p></div>
        <div class="color background-gray1"><p>gray1<br> <code>#D1CAC1</code></p></div>
        <div class="color background-gray2"><p>gray2<br> <code>#837767</code></p></div>
        <div class="color background-coal"><p><span class="color-white">coal</span><br> <code>#2B2C2A</code></p></div>
        <div class="color background-indigo"><p>indigo<br> <code>#5A5AE0</code></p></div>
        <div class="color background-watermelon"><p>watermelon<br> <code>#F65F92</code></p></div>
        <div class="color background-watermelon-dark"><p>watermelon-dark<br> <code>#E93A79</code></p></div>
        <div class="color background-canary"><p>canary<br> <code>#F4CF31</code></p></div>
        <div class="color background-moss"><p>moss<br> <code>#A7AA3D</code></p></div>
      </div>
    </section>

    <section class="icons padding-bottom">
      <h3 class="type-ui-label">Icons</h3>
      <p>Default arrow direction is down:</p>
      <pre><code>&lt;svg class="sprite sprite-arrow" aria-hidden="true" role="presentation"&gt;&lt;use xlink:href="#sprite-arrow"/&gt;&lt;/svg&gt;</code></pre>
      <p>Change arrow direction by adding <code>-direction</code> class to <code>svg</code>:</p>
      <pre><code>&lt;svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"&gt;&lt;use xlink:href="#sprite-arrow"/&gt;&lt;/svg&gt;</code></pre>
      <div>
        <svg class="sprite sprite-arrow" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg>
        <svg class="sprite sprite-arrow -up" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg>
        <svg class="sprite sprite-arrow -left" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg>
        <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg>
        <svg class="sprite sprite-arrow-diagonal" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow-diagonal"/></svg>
        <svg class="sprite sprite-arrow-long" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow-long"/></svg>
        <svg class="sprite sprite-arrow-long -left" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow-long"/></svg>
        <svg class="sprite sprite-select-down" aria-hidden="true" role="presentation"><use xlink:href="#sprite-select-down"/></svg>
        <svg class="sprite sprite-select-up" aria-hidden="true" role="presentation"><use xlink:href="#sprite-select-up"/></svg>
      </div>
      <div>
        <svg class="sprite sprite-arrow-wide" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow-wide"/></svg>
        <svg class="sprite sprite-plus" aria-hidden="true" role="presentation"><use xlink:href="#sprite-plus"/></svg>
        <svg class="sprite sprite-minus" aria-hidden="true" role="presentation"><use xlink:href="#sprite-minus"/></svg>
        <svg class="sprite sprite-check" aria-hidden="true" role="presentation"><use xlink:href="#sprite-check"/></svg>
      </div>
    </section>

    <section class="links padding-bottom">
      <h3 class="type-ui-label">Links</h3>
      <pre><code>&lt;a href="#" class="squiggle"&gt;This is a Link!&lt;/a&gt;</code></pre>
      <p><a href="#" class="squiggle">This is a Link!</a></p>
    </section>

    <section class="buttons padding-bottom">
      <h3 class="type-ui-label">Default Buttons</h3>
      <div class="grid spaced padding-bottom">
        <div class="col-auto"><button class="button">.button</button></div>
        <div class="col-auto"><button class="button -indigo">.button.-indigo</button></div>
        <div class="col-auto"><button class="button -watermelon">.button.-watermelon</button></div>
        <div class="col-auto"><button class="button -canary">.button.-canary</button></div>
        <div class="col-auto"><button class="button -moss">.button.-moss</button></div>
      </div>
      <h3 class="type-ui-label">Buttons (Tiny)</h3>
      <div class="grid spaced padding-bottom">
        <div class="col-auto"><button class="button -tiny">.-tiny</button></div>
        <div class="col-auto"><button class="button -tiny -indigo">.-tiny.-indigo</button></div>
        <div class="col-auto"><button class="button -tiny -watermelon">.-tiny.-watermelon</button></div>
        <div class="col-auto"><button class="button -tiny -canary">.-tiny.-canary</button></div>
        <div class="col-auto"><button class="button -tiny -moss">.-tiny.-moss</button></div>
      </div>
      <h3 class="type-ui-label">Large Buttons</h3>
      <div class="grid spaced padding-bottom">
        <div class="col-auto"><button class="button -large">.-large <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -large -indigo">.-large.-indigo <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -large -watermelon">.-large.-watermelon <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -large -canary">.-large.-canary <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -large -moss">.-large.-moss <svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
      </div>
      <h3 class="type-ui-label">Giant Buttons</h3>
      <div class="grid spaced padding-bottom">
        <div class="col-auto"><button class="button -giant">.-giant Curabitur blandit tempus porttitor.<svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -giant -indigo">.-giant.-indigo Curabitur blandit tempus porttitor.<svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -giant -watermelon">.-giant.-watermelon Curabitur blandit tempus porttitor.<svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -giant -canary">.-giant.-canary Curabitur blandit tempus porttitor.<svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
        <div class="col-auto"><button class="button -giant -moss">.-giant.-moss Curabitur blandit tempus porttitor.<svg class="sprite sprite-arrow -right" aria-hidden="true" role="presentation"><use xlink:href="#sprite-arrow"/></svg></button></div>
      </div>
      <h3 class="type-ui-label">Circle Buttons</h3>
      <div><button class="button -circle">Circle</button></div>
      <h3 class="type-ui-label">Icon Buttons</h3>
      <div><button class="button -icon"><svg class="sprite sprite-plus" aria-hidden="true" role="presentation"><use xlink:href="#sprite-plus"/></svg></button></div>
    </section>

    <section class="chips padding-bottom">
      <h3 class="type-ui-label">Chips</h3>
      <pre>
&lt;ul class="chip-list"&gt;
  &lt;li class="chip -canary"&gt;Children&lt;/li&gt;
&lt;/ul&gt;</pre>
      <ul class="chip-list">
        <li class="chip -canary">Children</li>
        <li class="chip -moss">Teen</li>
        <li class="chip -indigo">Adult</li>
        <li class="chip -coal">Online</li>
        <li class="chip">Online</li>
      </ul>
    </section>

    <section class="images padding-bottom">
      <h3 class="type-ui-label">Offset Images</h3>
      <pre>
&lt;div class="grid spaced"&gt;
  &lt;div class="col-md-1-2"&gt;Left column stuff&lt;/div&gt;
  &lt;div class="col-md-1-2"&gt;
    &lt;figure <strong>class="offset-right"</strong>&gt;
      &lt;img src="#" alt=""&gt;
    &lt;/figure&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
      <div class="grid spaced">
        <div class="col-md-1-2">
          <h2 class="h2">Vulputate Commodo Fusce Venenatis</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut facilis nostrum, minima obcaecati repudiandae, modi error magnam repellat hic quisquam quia soluta eveniet ducimus quam commodi dolore dignissimos voluptatibus?</p>
        </div>
        <div class="col-md-1-2">
          <figure class="offset-right">
            <img src="https://source.unsplash.com/random/1200x1300" alt="Unsplash Placeholder Image">
              <figcaption>Caption maecenas faucibus mollis interdum.</figcaption>
          </figure>
        </div>
      </div>
      <div class="grid spaced">
        <div class="col-md-1-2">
          <figure class="offset-left">
            <img src="https://source.unsplash.com/random/1200x1300" alt="Unsplash Placeholder Image">
              <figcaption>Caption maecenas faucibus mollis interdum.</figcaption>
          </figure>
        </div>
        <div class="col-md-1-2">
          <h2 class="h2">Vulputate Commodo Fusce Venenatis</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut facilis nostrum, minima obcaecati repudiandae, modi error magnam repellat hic quisquam quia soluta eveniet ducimus quam commodi dolore dignissimos voluptatibus?</p>
        </div>
      </div>
    </section>

    sectoion.padding-bottom
  </div>

  {% endcache %}
{% endblock %}
