{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set title = entry.title %}
{% set noPreFooter = true %}
{% set galleryImageCutoff = 2 %}
{% set bodyClass = 'single-exhibit' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}
  <div class="exhibition-container container">

    <h1>{{ entry.title }}{% if entry.subtitle %}: <span class="subtitle">{{ entry.subtitle }}</span>{% endif %}</h1>

    <div class="exhibition-header grid spaced">
      <div class="col-md-1-2">
        <a href="/exhibitions" class="back-link">
          <svg class="sprite sprite-arrow -left" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
          <span>Back <span>to Exhibitions</span></span>
        </a>
      </div>

      <div class="date col-md-1-2">
        <time datetime="{{ entry.dateStart|date("Y-m-d")}}">{{ entry.dateStart|date("M. j, Y")}}</time>
        {% if entry.dateEnd %}
          &mdash; <time datetime="{{ entry.dateEnd|date("Y-m-d")}}">{{ entry.dateEnd|date("M. j, Y")}}</time>
        {% endif %}
      </div>
    </div>

    <div class="exhibit-single">
      <div class="grid spaced">
        <div class="images col-md-1-2">
          {% for image in entry.featuredImages.all() %}
            <figure>
              {% include 'partials/_picture' with { image: image } %}
            </figure>
          {% endfor %}
        </div>

        <div class="details col-md-1-2">
          <div class="-inner">
            <div class="actions">
              {% if entry.scheduleVisitLink %}
                <a href="/contact?exhibit_id={{ entry.id }}" class="button -tiny">Schedule Visit</a>
              {% endif %}
              {% if entry.eventbriteUrl %}
                <a rel="noopener" target="_blank" href="{{ entry.eventbriteUrl }}" class="button -tiny">Register for Gallery Talk</a>
              {% endif %}
            </div>

            {% if entry.location %}
              <p class="location">Located In: {{ entry.location }}</p>
            {% endif %}

            <div class="body user-content">
              {{ entry.body }}
            </div>

            {% set exhibitingArtists = entry.exhibitingArtists %}
            {% if exhibitingArtists|length %}
              <div class="exhibiting-artists">
                <h4>Exhibiting Artists:</h4>
                <ul>
                  {% for artist in exhibitingArtists %}
                    <li>
                      {% if artist.websiteUrl|length %}
                        <a href="{{ artist.websiteUrl }}" target="_blank" rel="noopener">{{ artist.name }}</a>{% if exhibitingArtists|length > 1 and not loop.last %}, {% endif %}
                      {% else %}
                        {{ artist.name }}{% if exhibitingArtists|length > 1 and not loop.last %}, {% endif %}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div><!-- .grid -->

      {% if entry.galleryImages|length %}
        <div class="gallery">
          <h4>Gallery Photos {% if entry.galleryImages|length > galleryImageCutoff %}({{ entry.galleryImages|length }} total){% endif %}</h4>

          <ul>
          {% for image in entry.galleryImages.all() %}
            <li{{ loop.index > galleryImageCutoff ? ' class="hidden"'|raw : '' }}>
              <figure>
                {# todo: resize blowup images? #}
                <a href="{{ image.getUrl() }}" class="lightbox no-ajaxy">
                  {% include 'partials/_picture' with { 'image': image, 'imgSrcSets': [ { width: 800 }, { width: 640, jpegQuality: 70 } ] } %}
                </a>
              </figure>
            </li>
          {% endfor %}
          </ul>

          {% if entry.galleryImages|length > galleryImageCutoff %}
          <div class="cta">
            <a href="#" class="view-full-gallery">
              <svg class="sprite sprite-plus" aria-hidden="true"><use xlink:href="#sprite-plus"/></svg>
              View Full Gallery
            </a>
          </div>
          {% endif %}
        </div>
      {% endif %}
    </div><!-- /.exhibit-single -->

    <div class="pagination">
      {% set nextEntry = craft.entries.section('exhibits').positionedAfter(entry).orderBy('lft asc').one() %}
      {% if not nextEntry %}
        {% set nextEntry = craft.entries.section('exhibits').one() %}
      {% endif %}
      {% set prevEntry = craft.entries.section('exhibits').positionedBefore(entry).orderBy('lft desc').one() %}
      {% if not prevEntry %}
        {% set prevEntry = craft.entries.section('exhibits').inReverse().one() %}
      {% endif %}
      <div class="-inner grid spaced">
        <div class="previous col-md-1-2">
          <a class="button -giant -moss" href={{ prevEntry.getUrl() }}>
            <svg class="sprite-arrow -left" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
            <span>Previous: <span class="title">{{ prevEntry.title }}</span></span>
          </a>
        </div>
        <div class="next col-md-1-2">
          <a class="button -giant -watermelon" href={{ nextEntry.getUrl() }}>
            <span>Next: <span class="title">{{ nextEntry.title }}</span></span>
            <svg class="sprite-arrow -right" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
          </a>
        </div>
      </div>
    </div>

  </div><!-- .container -->
  {% endcache %}
{% endblock content %}
