{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  {# Params #}
  {% set upNextExhibits = craft.app.request.getParam('up-next') ?? 0 %}
  {% set activeExhibits = craft.app.request.getParam('active') ?? 0 %}
  {% set pastExhibits = craft.app.request.getParam('past') ?? 0 %}
  {% set onlineExhibits = craft.app.request.getParam('online') ?? 0 %}

  {# Pull entries #}
  {% set entryOptions = {
      section: 'exhibits',
      with: [
        'featuredImages'
      ],
      orderBy: 'dateStart ASC',
      dateStart: '>= ' ~ now|date('Y-m-d')
    }
  %}

  {# Filter entries based on params #}
  {% if upNextExhibits == 1 %}
    {% set title = title ~ ' (Up Next)' %}
    {% set entryOptions = entryOptions|merge({ dateStart: '> ' ~ now|date('Y-m-d') }) %}
  {% elseif activeExhibits == 1 %}
    {% set title = title ~ ' (Active)' %}
  	{% set entryOptions = entryOptions|merge({ dateEnd: '<= ' ~ now|date('Y-m-d') }) %}
  {% elseif pastExhibits == 1 %}
    {% set title = title ~ ' (Past)' %}
    {% set entryOptions = entryOptions|merge({ dateStart: '<= ' ~ now|date('Y-m-d') }) %}
  {% elseif onlineExhibits == 1 %}
    {% set title = title ~ ' (Online)' %}
    {% set entryOptions = entryOptions|merge({ online: true }) %}
  {% endif %}

  {% paginate craft.entries(entryOptions).limit(6) as paginationInfo, exhibitsEntries %}

  <div class="header-shape">
    <svg class="fill-white" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-eyes"/></svg>
  </div>

  {% include 'partials/_page-header' %}

  <div class="container">
    <div class="filter-container">
      <div class="filter">
        <h2 class="filter-label">Filter:</h2>
        <ul class="filters" data-barba-prevent="all">
          <li><a href="/exhibitions/"{{ upNextExhibits + activeExhibits + pastExhibits + onlineExhibits == 0 ? ' class="active"' : '' }}>All</a></li>
          <li><a href="/exhibitions/?up-next=1"{{ upNextExhibits == 1 ? ' class="active"' : '' }}>Up Next</a></li>
          <li><a href="/exhibitions/?active=1"{{ activeExhibits == 1 ? ' class="active"' : '' }}>Active</a></li>
          <li><a href="/exhibitions/?past=1"{{ pastExhibits == 1 ? ' class="active"' : '' }}>Past</a></li>
          <li><a href="/exhibitions/?online=1"{{ onlineExhibits == 1 ? ' class="active"' : '' }}>Online</a></li>
        </ul>
      </div>
      <span class="page">Page {{ paginationInfo.currentPage }}</span></li>
    </div>

    {# Exhibits listing #}
    <div class="ajax-wrap"><div class="ajax-content">
      <div class="exhibits-posts article-grid">
        {% for exhibitsEntry in exhibitsEntries %}
          {% include 'exhibitions/_article' with { exhibitsEntry: exhibitsEntry } %}
        {% else %}
          <p class="none-found">No posts found.</p>
        {% endfor %}
      </div>

      {% if paginationInfo.totalPages > 1 %}
        <div class="pagination">
          {% if paginationInfo.prevUrl %}<a href="{{ paginationInfo.prevUrl }}" class="previous"><svg class="sprite sprite-arrow" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg></a>{% endif %}

          {% for page, url in paginationInfo.getPrevUrls(3) %}
            <a href="{{ url }}">{{ page }}</a>
          {% endfor %}

          <span class="current">{{ paginationInfo.currentPage }}</span>

          {% for page, url in paginationInfo.getNextUrls(3) %}
            <a href="{{ url }}">{{ page }}</a>
          {% endfor %}

          {% if paginationInfo.nextUrl %}<a href="{{ paginationInfo.nextUrl }}" class="next"><svg class="sprite sprite-arrow" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg></a>{% endif %}
        </div>
      {% endif %}

      {% include 'partials/_page-blocks' %}
    </div></div>
  </div><!-- container -->


  {% endcache %}
{% endblock content %}
