{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('eventsIndex').one() %}
{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}

{% block content %}

  <div class="header-shape">
    <svg class="fill-moss" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-body-waterfall-3"/></svg>
  </div>

  {% set eventType = craft.categories({ group: 'eventType', slug: 'class' }) %}
  {% include 'events/_events-listing' with {
    eventType: eventType,
    listingTitle: 'Classes',
    archiveLink: siteOptions.eventsOptions.learningArchiveUrl,
  } %}

  {% include 'partials/_page-blocks' %}

{% endblock content %}
