{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set bodyClass = 'dark-theme' %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}
{% set noPreFooter = 1 %}

{% block content %}
  {% cache unless currentUser %}

  {% include 'partials/_page-header' with {'style': '-alt', 'backgroundColor': 'indigo', 'textColor': 'cream'} %}

  <div class="header-border">
    <svg class="fill-indigo" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-header-text-border-1"/></svg>
  </div>

  {# Membership tiers #}
  <div class="membership-tiers container">
    {% for tier in entry.membershipTiers.all() %}
      <div class="accordion">

        <div class="accordion-toggle">
          <div class="header">
            <span class="title">{{ tier.tierTitle }}</span>
            <span class="cost">{{ tier.cost }}</span>
          </div>
          <div>
            <button class="toggle button -icon"><svg class="accordion-plus" aria-hidden="true" role="presentation"><use xlink:href="#sprite-plus"/></svg><svg class="accordion-minus" aria-hidden="true" role="presentation"><use xlink:href="#sprite-minus"/></svg><span class="sr-only">toggle accordion</span></button>
          </div>
        </div>

        <div class="accordion-content">
          <div class="-inner grid spaced">
            <div class="description user-content col-md-3-4">
              {{ tier.body }}
            </div>
            <div class="actions col-md-1-4">
              <div class="-inner">
                {% if tier.squareUrl %}
                  <a target="_blank" rel="noopener" href="{{ tier.squareUrl }}" class="button -watermelon">Checkout on Square</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include 'partials/_page-blocks' %}

  {% endcache %}
{% endblock content %}
