{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? 'layouts/_ajax-layout' : 'layouts/_layout' %}

{% set bodyClass = 'dark-theme' %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}{% set shareImage = entry.shareImage.one() %}{% endif %}
{% set noPreFooter = 1 %}

{% block content %}
  {% cache unless currentUser %}

  {% include 'partials/_page-header' with {'style': '-alt', 'backgroundColor': 'indigo', 'textColor': 'cream'} %}

  <div class="header-border">
    <svg class="fill-indigo" aria-hidden="true" role="presentation"><use xlink:href="#sprite-shape-header-text-border-1"/></svg>
  </div>

  {# Membership tiers #}
  <div class="membership-tiers container">
  	{% for tier in entry.membershipTiers.all() %}
  		<div class="accordion">
  			<div class="header">
  				<span class="title">{{ tier.tierTitle }}</span>
  				<span class="cost">{{ tier.cost }}</span>
  			</div>
  			<div class="accordion-body user-content">
  				{{ tier.body }}
  			</div>
  		</div>
  	{% endfor %}
  </div>

  {% include 'partials/_page-blocks' %}

  {% endcache %}
{% endblock content %}
