{# Params #}
{% set multiSessionEvents = craft.app.request.getParam('multiSession') ?? 0 %}
{% set activeEvents = craft.app.request.getParam('active') ?? 0 %}

{# Pull entries #}
{% set entryOptions = {
    section: 'events',
    with: [
      'eventImage'
    ],
    orderBy: 'dateStart ASC',
    dateStart: '>= ' ~ now|date('Y-m-d'),
    eventType: eventType,
  }
%}

{# Filter entries based on params #}
{% if multiSessionEvents == 1 %}
  {% set title = title ~ ' (Multi-Session)' %}
  {% set entryOptions = entryOptions|merge({ multiSession: true }) %}
{% elseif activeEvents == 1 %}
  {% set title = title ~ ' (Active)' %}
  {% set entryOptions = entryOptions|merge({ dateEnd: '<= ' ~ now|date('Y-m-d') }) %}
{% endif %}

{% paginate craft.entries(entryOptions).limit(30) as paginationInfo, eventsEntries %}

{% include 'partials/_page-header' %}

<div class="events-listing container">
  <div class="events-wrap">
    <h2>{{ listingTitle }}</h2>

    <div class="filter-container">
      <div class="filter">
        <h3 class="filter-label">filter</h3>
        <ul class="filters" data-barba-prevent="all">
          <li><a href="/{{ eventType.slug=='class' ? 'learning' : 'events' }}/"{{ multiSessionEvents + activeEvents == 0 ? ' class="active"' : '' }}>All</a></li>
          <li><a href="/{{ eventType.slug=='class' ? 'learning' : 'events' }}/?multiSession=1"{{ multiSessionEvents == 1 ? ' class="active"' : '' }}>Multi-Session</a></li>
          <li><a href="/{{ eventType.slug=='class' ? 'learning' : 'events' }}/?active=1"{{ activeEvents == 1 ? ' class="active"' : '' }}>Active</a></li>
        </ul>
      </div>
      <a rel="noopener" target="_blank" href="{{ archiveLink }}" class="view-archive">View Archive</a>
    </div>

    {# Events listing #}
    <div class="events-posts article-grid">
      {% for eventsEntry in eventsEntries %}
        {% include 'events/_article' with { eventsEntry: eventsEntry } %}
      {% else %}
        <p class="none-found">No posts found.</p>
      {% endfor %}
    </div>
  </div>

  {% if siteOptions.eventsOptions.refundPolicy|length %}
    <div class="refund-policy">{{ siteOptions.eventsOptions.refundPolicy }}</div>
  {% endif %}
</div><!-- .container -->
