{# Params #}
{% set multiSessionEvents = craft.app.request.getParam('multiSession') ?? 0 %}
{% set activeEvents = craft.app.request.getParam('active') ?? 0 %}

{# Pull entries #}
{% set entryOptions = {
    section: 'events',
    with: [
      'eventImage'
    ],
    orderBy: 'dateStart ASC',
    dateStart: '>= ' ~ now|date('Y-m-d'),
    eventType: eventType,
  }
%}

{# Filter entries based on params #}
{% if multiSessionEvents == 1 %}
  {% set title = title ~ ' (Multi-Session)' %}
  {% set entryOptions = entryOptions|merge({ multiSession: true }) %}
{% elseif activeEvents == 1 %}
  {% set title = title ~ ' (Active)' %}
  {% set entryOptions = entryOptions|merge({ dateEnd: '<= ' ~ now|date('Y-m-d') }) %}
{% endif %}

{% paginate craft.entries(entryOptions).limit(30) as paginationInfo, eventsEntries %}

{% include 'partials/_page-header' %}

<div class="events-listing">
  <div class="container events-wrap">
    <h2>{{ listingTitle }}</h2>
    <ul class="filters" data-barba-prevent="all">
      <li>
        <a href="/{{ eventType.slug=='class' ? 'learning' : 'events' }}/"{{ multiSessionEvents + activeEvents == 0 ? ' class="active"' : '' }}>All</a>
        <a href="/{{ eventType.slug=='class' ? 'learning' : 'events' }}/?multiSession=1"{{ multiSessionEvents == 1 ? ' class="active"' : '' }}>Multi-Session</a>
        <a href="/{{ eventType.slug=='class' ? 'learning' : 'events' }}/?active=1"{{ activeEvents == 1 ? ' class="active"' : '' }}>Active</a>
        <a rel="noopener" target="_blank" href="{{ archiveLink }}" class="view-archive">View Archive</a>
      </li>
    </ul>

    {# Events listing #}
    <div class="events-posts article-grid">
      {% for eventsEntry in eventsEntries %}
        {% include 'events/_article' with { eventsEntry: eventsEntry } %}
      {% else %}
        <p class="none-found">No posts found.</p>
      {% endfor %}
    </div>
  </div><!-- /.listing-wrap -->
</div><!-- /.container -->
